.header-wrapper {
    color: var(--primary);
    background: #DBDBDB;
}

.header-container {
    justify-content: space-between;
    padding-left: 1.2rem;
    padding-top: 1.5rem;
    padding-right: 1.2rem;
    padding-bottom: 1.5rem;
}

.header-logo {
    max-width: 200px;
    width: 100%;
}

.header-menu {
    gap: 2.5rem;
}

.header-link-active {
    color: var(--red);
}

.header-link-active.our-plans {
    color: var(--primary);
}

.header-user {
    margin-left: 1.2rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.header-user-profile-pic {
    border-radius: 50%;
    width: 26px;
    height: 26px;
}

.header-user-name {
    margin-left: 0.4rem;
    align-self: center;
    font-size: 12px;
    color: var(--black-7);
}

.header-user-icon {
    align-self: center;
}

.header-user-dropdown {
    list-style-type: none;
    background-color: white;
    position: absolute;
    z-index: 50000;
    right: 1.5rem;
    top: 96px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.header-user-dropdown-item {
    font-size: 18px;
    color: var(--black-7);
    cursor: pointer;
    padding-left: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}

.header-user-dropdown-divider {
    background-color: rgba(0, 0, 0, 0.25);
    height: 1px;
    width: 100%;
}

.header-right .button {
    margin-left: 1.2rem;
}

.header-right .menu-icon {
    display: none;
    margin-left: 1.2rem;
}

@media(max-width: 411px) {
    .header-user-dropdown {
        top: 23vw;
    }
}

@media(max-width: 991px) {
    .header-right .menu-icon {
        display: block;
    }

    .header-menu {
        display: none;
    }

    .header-user-dropdown {
        right: 4.6rem;
    }
}