.login-background {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background: var(--primary);
}

.login-wrapper {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: -1000px;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    transition: top 0.5s ease-in-out;
}

.login-wrapper.login-open {
    top: 0;
}

.login-outside-click-handler {
    width: 100%;
}

.login-container {
    width: 610px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--secondary);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--black-translucent);
    border-radius: 0.5rem;
}

.login-header {
    display: flex;
    justify-content: end;
    padding: 0.5rem;
}

.login-close-icon {
    opacity: 0.5;
    cursor: pointer;
}

.login-title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
    color: var(--red-3);
    font-family: "Bebas Neue", cursive;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.login-form {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 4.5rem;
}

.login-email-field,
.login-password-field {
    margin-bottom: 1.5rem;
}

.login-email-field,
.login-password-field {
    width: 100%;
}

.login-email-field label,
.login-password-field label {
    font-size: 18px;
    margin-bottom: 0.5rem;
    color: var(--black-3);
    display: inline-block;
}

.login-email-field input,
.login-password-field input {
    width: 100%;
    max-width: 610px;
    background: var(--white-3);
    border: none;
    outline: none;
    border-radius: 12px;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.login-email-field input:focus,
.login-password-field input:focus {
    border: 4px solid var(--light-blue)
}

.forgot-password-option {
    justify-content: end;
    display: flex;
    color: var(--red-3);
    cursor: pointer;
}

.login-button {
    color: var(--red-3);
    background-color: transparent;
    text-align: center;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    width: 100%;
    border: 1px solid var(--red-3);
}

.login-button:hover {
    background-color: var(--red-3);
    color: var(--secondary);
}

@media (max-width:609px) {
    .login-container {
        width: 576px;
    }
}

@media (max-width:575px) {
    .login-container {
        width: 320px;
    }
}